extends layout

block content
	p.text-lg.font-semibold.text-red-600.mb-4.mt-2 The website does not have user authentication yet. Sorry about that folks!
	h1.text-2xl.font-bold.mb-4 About ABCXYZ Figures

	p.mb-4 ABCXYZ Figures is a platform for figure collectors who want to trade their unique figures with other enthusiasts. Our mission is to bring together a community of collectors who are passionate about sharing their collections and finding new treasures for their display shelves.

	h2.text-xl.font-bold.mb-2 How does ABCXYZ Figures work?

	p.mb-4 ABCXYZ Figures allows users to create an account and list their figures for sale. Each user can browse the available figures and make an offer to purchase a figure that catches their eye. The seller can then review the offer and decide whether to accept, reject, or negotiate further.

	h2.text-xl.font-bold.mb-2 How do I sell my figures on ABCXYZ Figures?

	p.mb-4 Follow these simple steps to start selling your figures on ABCXYZ Figures:

	ol.list-decimal.ml-4
		li.mb-2 Create an account with ABCXYZ Figures, if you haven't already.
		li.mb-2 Upload clear photos and provide detailed information about your figure, including its name, franchise, manufacturer, material, and price.
		li.mb-2 Monitor your listings and respond promptly to any offers from potential buyers.
		li.mb-2 Once you have agreed on a price, arrange for shipping and payment with the buyer.

	h2.text-xl.font-bold.mb-2 How do I buy figures on ABCXYZ Figures?

	p.mb-4 If you're interested in purchasing a figure on ABCXYZ Figures, follow these steps:

	ol.list-decimal.ml-4
		li.mb-2 Browse the available figures and find one that you'd like to add to your collection.
		li.mb-2 Make an offer to the seller by proposing a price.
		li.mb-2 Communicate with the seller to negotiate the price and any other details.
		li.mb-2 Once you have agreed on a price, arrange for payment and shipping with the seller.

	p.mb-4 We hope that ABCXYZ Figures provides an enjoyable experience for both buyers and sellers as they trade their figures and grow their collections. Happy trading!
