doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet' href='/stylesheets/style.css')
		link(rel='stylesheet' href='/stylesheets/tailwind.css')
		title ABCXYZ Figures
		script(src='/javascripts/pug_funcs.js')

	body(class=(!isHomepage ? (!isAboutPage ? '' : 'about-bg') : 'home-bg'))
		include navbar.pug
	main.min-h-screen.h-auto(class='px-4 py-6 sm:px-6 sm:py-8 md:px-8 md:py-10 lg:px-12 lg:py-15 xl:px-14 xl:py-18')
		block content
	footer
		div.bg-blue-600.text-white.py-6
			div.container.mx-auto
				div(class='flex flex-col items-center space-y-4 md:space-y-0 md:flex-row md:justify-between md:space-x-8 px-6')
					a(href='https://github.com/bbntpl/figures-inv' target='_blank') &copy; #{new Date().getFullYear()} ABCXYZ Figures. All rights reserved.
					a(href='/about' class='hover:text-blue-400') About
					a(href='/' class='hover:text-blue-400') Contact
					a(href='/' class='hover:text-blue-400') Terms
					a(href='/' class='hover:text-blue-400') Privacy
